@model IEnumerable<TP02SWII.Models.Container>

@{
    ViewData["Title"] = "Containers";
}

<p style="margin-top:16px">    
    <a class="btn btn-success" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BL.BLId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContainerId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ContainerId">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.ContainerId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
